@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap");
/* font-family: "Manrope", sans-serif;
   font-family: "Anton", sans-serif;
*/

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh; /* assure que le body prend tout l'espace vertical disponible  */
  margin: 0;
}

/* HEADER */

header {
  position: relative;
  width: 100%;
  height: 667px;
}

header::after {
  content: ""; /* Ajoute un contenu à l'élément pseudo-élément */
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("assets/images/ramen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -213px;
  filter: brightness(70%);
  z-index: -1; /* Assure que cet élément pseudo-élément est en arrière-plan */
}

.logo {
  position: absolute;
  top: 51px;
  left: 69px;
  width: 207px;
  height: auto; /* Permet au logo de conserver ses proportions */
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 44px;
  width: 720px;
  color: #ffd15b;
}

.search-principal.form-control:focus {
  border: none;
  box-shadow: none;
}

.searchbar {
  width: 954px;
  height: 72px;
  position: relative;
}

.searchbar-small {
  width: 177px;
  height: 36px;
  padding-left: 11px;
}

.search-principal::placeholder {
  color: #c6c6c6;
}

.search-text::placeholder {
  color: #c6c6c6;
}

.search-principal {
  color: #7a7a7a;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-left: 35px;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #c6c6c6;
}

.search-text {
  color: #7a7a7a;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
}

/* Cible l'icône de suppression dans un input de type recherche */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.input-group .btn {
  z-index: 5;
}

.clear-search-icon {
  position: absolute;
  right: 130px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #7a7a7a;
  display: none;
}

.btn-search {
  position: absolute;
  right: 62px;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  background: #1b1b1b;
  border: none;
  background-image: url("assets/icons/magnifying-glass.svg");
  background-size: 27px 28px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn-search:hover {
  background: #ffd15b;
  background-image: url("assets/icons/magnifying-glass-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.btn-search-small {
  position: absolute;
  background-image: url("assets/icons/magnifying-glass-small.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  padding: 0;
}

/* MAIN */

main {
  background: #ededed;
  width: 100%;
  padding-bottom: 80px;
}

.container-main {
  padding-top: 20px;
  margin-right: 102px;
  margin-left: 102px;
  margin-bottom: 80px;
}

.filters-zone {
  justify-content: space-between;
  margin-bottom: 20px;
}

.accordion {
  width: 195px;
  height: 56px;
  border-radius: 11px;
  margin-right: 20px;
  z-index: 1;
}

.accordion-button {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: #1b1b1b;
  border: none;
}

.accordion-button:not(.collapsed) {
  background: none;
  box-shadow: none;
}

.accordion-button:focus {
  /* z-index: 3;
  outline: 0; */
  box-shadow: none;
}

.accordion-body {
  position: relative;
  font-size: 14px;
}

.clear-search-icon-ingredients,
.clear-search-icon-appliances,
.clear-search-icon-ustensils {
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  color: #7a7a7a;
  display: none;
}

.selected {
  position: absolute;
  background: #ffd15b;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7px 18px;
  margin-top: 18px;
}

.selected:hover {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.fa-circle-xmark {
  visibility: hidden; /* Par défaut, l'icône est cachée */
}

.selected:hover .fa-circle-xmark {
  visibility: visible; /* Afficher l'icône lorsque l'élément est survolé */
}

ul,
ol {
  list-style-type: none;
  margin-top: 50px;
}

.list-group-item {
  border: none;
  padding: 0;
  line-height: 2em;
}

.nb-recipes {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #1b1b1b;
  /* font-size: 21px; */
  font-size: 1.3em;
}

/* TAGS SELECTED */

.tag-selected {
  background: #ffd15b;
  color: #000000;
  height: 53px;
  padding: 17px 18px;
  margin-right: 10px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
  display: inline-block;
}

.delete-tag-icon {
  color: #1B1B1B;
  font-size: 16px;
  padding-left: 25px;
}

/* CARDS */

.cards {
  margin-top: 10px;
}

.card {
  width: 380px;
  height: 731px;
  border: none;
  box-shadow: 0px 4px 34px 30px #0000000a;
}

.card-img-top {
  margin: 0;
  padding: 0;
}

.card-body {
  padding: 25px;
}

.badge {
  position: absolute;
  top: 21px;
  right: 18px;
  background: #ffd15b;
  color: #1b1b1b;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  width: 63px;
  height: 26px;
  padding: 6px 15px 5px 15px;
}

.card-title {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0;
}

.card-recipe,
.card-ingredients {
  font-family: "Manrope", sans-serif;
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin: 15px 0;
}

.card-text {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 30px;
}

.card-ingredient {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0;
}

.card-quantity {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #7a7a7a;
}
